a {
    color:black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:10px;
}
#grid ol {
    width:100px;
    border-right: 2px solid gray;
    margin-top: 0;
    padding-top: 20%;
}
body {
    margin:0;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid #article {
    padding: 5%;
}
@media(max-width:800px){
    #grid {
        display:block;

    }
    #grid ol {
        border-right: none;
        padding-top: 0;
        margin: 0;
    }
    h1 {
        border-bottom: none;
    }
}
